@import './themes/colors.scss';
@import './themes/settings.scss';
@import './themes/font.scss';

@import '~bootstrap/scss/bootstrap';

$full-usable-height: calc(100vh - 74px);

@import './footer/index.scss';

html,
body,
#root {
  height: 100%;
}

.full-usable-height {
  height: $full-usable-height;
}

.full-height {
  height: 100%;
}

form-control:focus.default-changes-indicator,
.default-changes-indicator {
  background-color: $warning;
}

.workspace {
  width: 100%;
  overflow: hidden;
  margin: 0;
  .left {
    overflow-y: auto;
    height: $full-usable-height;
    margin: 0;
  }
  .right {
    overflow-y: auto;
    height: $full-usable-height;
    margin: 0;
  }
  .content {
    overflow-y: auto;
    height: $full-usable-height;
    margin: 0;
  }
}
